.chat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rebeccapurple;
}

.chat .noteam {
    color: white;
}

.chat .friendly {
    color: #8ecbff;
}

.chat .enemy {
    color: #ffb574;
}
