.scoreboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.scoreboard .header {
    background-color: black;
    color: white;
}

.scoreboard .noteam {
    background-color: white;
    color: black;
}

.scoreboard .friendly {
    background-color: #8ECBFF;
    color: black;
}

.scoreboard .enemy {
    background-color: #FFB574;
    color: black;
}